<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Suchen</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Suchbegriff eingeben..." aria-label="Enter search term..." aria-describedby="button-search">
                <button class="btn btn-primary" id="button-search" type="button">Suche!</button>
            </div>
        </div>
    </div>
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Categories</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-unstyled mb-0">
                        {% for c in categories() %}
                            <li><a href="#!">{{ c.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>